* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(249,249,249);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
} 

.smartphone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0;
}

.smartphone img {
    height: 45rem;
}

.interacoes {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
    
}

.grupo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 90%;
    padding: 1.3rem 0;
    border: 1px solid lightgrey;
}

.grupo:nth-child(1) {
    min-height: 19rem;
    
}

#instagram-logo {
    height: 3.5rem;
    margin: 1rem;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.login input {
    height: 2.5rem;
    width: 20rem;
    border: 1px solid lightgrey;
    background-color: rgb(249, 249, 249);

}

#logar {
    height: 2.2rem;
    width: 20rem;
    background-color: #b2dffc;
    color: rgb(249, 249, 249);
    border: none;
}

#divisor {
    color: gray;
    margin: 1rem;
}

#logar-facebook {
    color: #385185;
    border: none;
    margin-bottom: 0.75rem;
    justify-content: center;
}

#logar-facebook a {
    font-size: 15px;
    font-weight: 500;
}

#facebook-logo {
   height: 14px;
   width: 14px;
   margin-right: 0.5rem;
   
}

.nova-conta a {
    color: #899af6;
    font-weight: 500;
}












